Task 2.4

In [16]:
import pandas as pd

def create_medications(names, counts):
    return pd.Series(
        data=counts,
        index=names,
        )
    
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

medications = create_medications(names, counts)  


def get_percent(medications, name):
    percent = medications.loc[name]/sum(medications.iloc[:])*100
    return percent

print(get_percent(medications, 'chlorhexidine'))

37.5

Task 3.5

In [34]:
def create_companyDF(income,expenses,years):
    table = pd.DataFrame({
        'income':income,
        'expenses': expenses},
    index=years
    )
    return table

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

df = create_companyDF(income,expenses,years)

def get_profit(df,year):
    if year in df.index:
        profit = df.loc[year,'income'] - df.loc[year,'expenses']
        return profit
    else:
        return None

print(get_profit(df,2019))

382

Task 9.1 - 9.10

In [4]:
 import pandas as pd
 
 student_data = pd.read_csv('data/students_performance.csv',sep=',')
 
 student_data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
student_data.shape[0]

1000

In [11]:
student_data.loc[155,'writing score']

88

In [12]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [13]:
student_data['math score'].mean()

66.089

In [14]:
student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [34]:
student_data[student_data['test preparation course']=='completed']['reading score'].mean()

73.89385474860335

In [16]:
student_data[student_data['math score']==0].shape[0]

1

In [17]:
student_data[student_data['lunch']=='standard']['math score'].mean()

70.03410852713178

In [19]:
student_data[student_data['lunch']=='free/reduced']['math score'].mean()

58.92112676056338

In [22]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [42]:
scoreA_median = student_data[student_data['race/ethnicity']=='group A']['reading score'].median()
scoreB_mean = student_data[student_data['race/ethnicity']=='group C']['writing score'].mean()

print(abs(scoreA_median-scoreB_mean)/scoreB_mean*100)

5.643111337061519