In [17]:
import pandas as pd
pd.__version__

'1.4.2'

In [3]:
print(pd.__name__)

pandas

#Series

In [4]:
pd.Series()

C:\Users\Alex\AppData\Local\Temp\ipykernel_14940\3134564496.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

Create the Series. Method #1.

In [5]:
countries = pd.Series(
    data=['England','Canada','USA','Russia',
'Ukraine','Belarus','Kazakhstan'],
    index=['UK','CA','US','RU','UA','BY','KZ'],
    name='countries'
    )
display(countries)

UK       England
CA        Canada
US           USA
RU        Russia
UA       Ukraine
BY       Belarus
KZ    Kazakhstan
Name: countries, dtype: object

Create the Series. Method #2.

In [6]:
countries = pd.Series({
    'UK': 'England',
    'CA': 'Canada',
    'US': 'USA',
    'RU': 'Russia',
    'UA': 'Ukraine',
    'BY': 'Belarus',
    'KZ': 'Kazakhstan'},
    name='countries'
)

display(countries)

UK       England
CA        Canada
US           USA
RU        Russia
UA       Ukraine
BY       Belarus
KZ    Kazakhstan
Name: countries, dtype: object

Access to data of the Series 'loc' and 'iloc'.

In [7]:
print(countries.loc['US'])

USA

In [11]:
print(countries.loc[['US','RU','UK']])

US        USA
RU     Russia
UK    England
Name: countries, dtype: object

In [12]:
print(countries.iloc[6])

Kazakhstan

In [13]:
print(countries.iloc[1:4])

CA    Canada
US       USA
RU    Russia
Name: countries, dtype: object

In [14]:
print(countries[['BY']])

BY    Belarus
Name: countries, dtype: object

In [15]:
print(countries[1:7:2])

CA     Canada
RU     Russia
BY    Belarus
Name: countries, dtype: object

# DataFrame

Create the DataFrame. Method #1

In [23]:
countries_df = pd.DataFrame({
    'country': ['England','Canada','USA','Russia',
'Ukraine','Belarus','Kazakhstan'],
    'population': [56.29, 38.05, 322.28, 146.24, 
45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191,
603628, 207600, 2724902]
})

countries_df.index=['UK','CA','US','RU','UA','BY','KZ']

display(countries_df)

       country  population    square
UK     England       56.29    133396
CA      Canada       38.05   9984670
US         USA      322.28   9826630
RU      Russia      146.24  17125191
UA     Ukraine       45.50    603628
BY     Belarus        9.50    207600
KZ  Kazakhstan       17.04   2724902

Create the DataFrame. Method #2.

In [24]:
countries = pd.DataFrame(
    data=[
        ['England',56.29,133396],
        ['Canada',38.05,9984670],
        ['USA',322.28,982663], 
        ['Russia',146.24,17125191], 
        ['Ukraine',45.50,603628], 
        ['Belarus',9.50,207600],
        ['Kazakhstan',17.04,2724902],          
    ],
    columns=['countries','population','square'],
    index=['UK','CA','US','RU','UK','BY','KZ']
)

display(countries)

     countries  population    square
UK     England       56.29    133396
CA      Canada       38.05   9984670
US         USA      322.28    982663
RU      Russia      146.24  17125191
UK     Ukraine       45.50    603628
BY     Belarus        9.50    207600
KZ  Kazakhstan       17.04   2724902

Calculate Mean for rows & columns

In [34]:
mean_row = countries_df.mean(axis=0)
display(mean_row)

C:\Users\Alex\AppData\Local\Temp\ipykernel_14940\246687206.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_row = countries_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [38]:
mean_columns = countries_df.mean(axis=1)
display(mean_columns)

C:\Users\Alex\AppData\Local\Temp\ipykernel_14940\1956721817.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_columns = countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

Access to the element

In [40]:
column1 = countries_df['population'] 
display(column1)
print(type(column1))

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

<class 'pandas.core.series.Series'>